<header class="header">
  <div class="d-flex align-items-center">
  <div class="logo-section ml-4">
    <img src="assets/icons/logo_icon.png" alt="Logo" class="logo" />
    <!-- <span class="app-name">Webinar</span> -->
  </div>
<!-- 
<div class="container mt-4">
  <div class="row justify-content-center"> -->
    <div class="col-md-6">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search in docquity" aria-label="Search" aria-describedby="search-icon">
        <div class="input-group-append">
          <span class="input-group-text" id="search-icon">
            <i class="fas fa-search"></i>
          </span>
        </div>
      </div>
    <!-- </div>
  </div> -->
</div>
  <nav class="nav-links d-flex ml-5">
    <a class="d-flex flex-column align-items-center justify-content-center" routerLink="/home"><i class="fa fa-house"></i><span>Home</span></a>
    <a class="d-flex flex-column align-items-center justify-content-center" routerLink="/webinar"><img src="assets/icons/web.png" class="nav-logo" alt="home"><span>Webinar</span></a>
    <a class="d-flex flex-column align-items-center justify-content-center" routerLink="/calendar"><img src="assets/icons/Union.png" class="nav-logo" alt="home"><span>
      Calendar</span></a>
    <a class="d-flex flex-column align-items-center justify-content-center"  routerLink="/notifications"><img src="assets/icons/Bell.png" class="nav-logo" alt="home"><span>Notifications</span></a>
  </nav>
</div>
  

  <div class="actions">
    <button class="post-btn">+ Post</button>
    <div class="user-info">
      <img src="assets/icons/user.png" alt="User" class="avatar" />
      <span class="username">Aaron ▼</span>
    </div>
  </div>
</header>
