.webinar-scroll-container {
  padding-bottom: 10px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  display: flex;
  overflow-x: scroll;  /* Enables scrolling */
  scrollbar-width: none;  /* For Firefox */
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}
.webinar-card {
  width: 250px;
  border-radius: 10px;
  overflow: hidden;  /* Prevents the image or content from overflowing the card */
  position: relative;
  scroll-snap-align: start;
}

.webinar-image {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.speaker-img {
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: -24px;
  left: 12px;
  border: 2px solid #fff;
  background: #fff;
}

.timer-overlay {
  position: absolute;
  bottom: 8px;
  right: 12px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
}

.webinar-scroll-container::-webkit-scrollbar {
  display: none;  /* For Chrome, Safari, and Opera */
}